html{
  font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  
}

body, header {
  margin: 0;
  width: 600px;
  margin: auto;
  }

  header{
    margin-left: 90px;
    margin-bottom: -20px;
    color: #30d18e;
  }
  
  .navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .navlink > a {
    color: black;
    padding: 10px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .navlink > a:hover {
    color: #30d18e;
  }
