html{
  font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body{
  margin: 0;
  }
p{
  max-width: 600px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left:5px;
}
main{
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  /*flex-wrap:wrap;*/
}
  header{
    margin-bottom: -20px;
    color: #30d18e;
    display: flex;
  justify-content: center;
  align-items:center;
  }
  
  .navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .navlink > a {
    color: #30d18e;
    padding: 10px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.25em;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: -10px;
    
  }
  
  .navlink > a:hover {
    color: #50fdb5;
  }
  img{
    width: 350px;
  }
  
  h1{
    border-bottom: 5px solid #30d18e;
    border-bottom-style: double;
  }
  #homepage_pic{
    border-radius:7px;
  }
  strong{
    color:#30d18e;
  }

  input, textarea{
    width:400px;
    padding:20px;
    border: 1px solid #30d18e;
    border-radius: 3px;
    resize: none;
  }

  textarea{
    height: 150px;
    font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  input[type=submit]{
    background-color: #30d18e;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 30%;
  }
  input[type=submit]:hover{
   background-color:#50fdb5;
  }
 input:focus, textarea:focus{
  background-color: #50fdb5;
  border: 1px solid white;
 }

  #contact_form{
    display:flex;
    flex-direction: column;
  }
  @media (min-width: 1400px){
    #homepage_pic{
      position: absolute;
      right: 60px;
    }
  }
  @media (max-width: 600px){
    html{
      width: 100%;
    }
   
    .navlink > a{
      font-size: 1em;
    }
  @media(max-width: 600px){
    input, textarea{
      width: 100%;
    }
  }
  }

