html{
  font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

body{
  margin: 0;
  }
p{
  max-width: 600px;
  text-align: center;
  margin: auto;
  overflow-wrap: break-word;
}
main{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
}
  header{
    margin-left: 20px;
    margin-bottom: -20px;
    color: #30d18e;
    display: flex;
  justify-content: center;
  align-items:center;
  }
  
  .navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .navlink > a {
    color: black;
    padding: 10px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .navlink > a:hover {
    color: #30d18e;
  }
  @media (max-width: 600px){
    html{
      width: 100%;
    }
    header{
      margin-left: 20px;
    }
    .navlink > a{
      font-size: 1em;
    }
  }
